In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
ser1 = Series([0,1,2],index=['A','B','C'])

ser1

A    0
B    1
C    2
dtype: int64

In [3]:
ser2 = Series([3,4,5,6],index=['A','B','C','D'])

ser2

A    3
B    4
C    5
D    6
dtype: int64

In [4]:
ser1 + ser2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [5]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)), columns=list('AB'),index=['BDG','DPS'])

dframe1

     A  B
BDG  0  1
DPS  2  3

In [8]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)), columns=list('ADC'),index=['BDG','DPS','CGK'])

dframe2

     A  D  C
BDG  0  1  2
DPS  3  4  5
CGK  6  7  8

In [10]:
dframe1 + dframe2

       A   B   C   D
BDG  0.0 NaN NaN NaN
CGK  NaN NaN NaN NaN
DPS  5.0 NaN NaN NaN

In [11]:
dframe1

     A  B
BDG  0  1
DPS  2  3

In [12]:
dframe1.add(dframe2,fill_value=0)

       A    B    C    D
BDG  0.0  1.0  2.0  1.0
CGK  6.0  NaN  8.0  7.0
DPS  5.0  3.0  5.0  4.0

In [13]:
dframe2

     A  D  C
BDG  0  1  2
DPS  3  4  5
CGK  6  7  8

In [17]:
ser3 = dframe2.iloc[0]

ser3

A    0
D    1
C    2
Name: BDG, dtype: int64

In [18]:
dframe2-ser3

     A  D  C
BDG  0  0  0
DPS  3  3  3
CGK  6  6  6