In [2]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [4]:
ser = Series(randn(6),index =[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [5]:
ser

1  a    1.069728
   b   -0.708075
   c   -0.566466
2  a    0.462030
   b   -0.940526
   c   -0.176411
dtype: float64

In [6]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [7]:
ser[1]

a    1.069728
b   -0.708075
c   -0.566466
dtype: float64

In [8]:
ser[2]

a    0.462030
b   -0.940526
c   -0.176411
dtype: float64

In [10]:
ser[:,'a']

1    1.069728
2    0.462030
dtype: float64

In [12]:
dframe = ser.unstack()

In [13]:
dframe

          a         b         c
1  1.069728 -0.708075 -0.566466
2  0.462030 -0.940526 -0.176411

In [18]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['CGK','CGK','BDG','PNK'],['cold','hot','hot','cold']])

dframe2

     CGK     BDG  PNK
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [21]:
dframe2.index.names = ['INDEX_1','INDEX_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities           CGK     BDG  PNK
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities           CGK CGK BDG  PNK
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [23]:
dframe2.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [24]:
dframe2.sum(level='Temp',axis=1)

/var/folders/ym/3hyz8jd10rd9dyynmdpz7vqr0000gn/T/ipykernel_50794/419258034.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27