In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

range(0, 15)

In [11]:
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.844078  0.020343 -0.483015  0.433479  0.682302
B -0.700375  0.113212  0.694552 -1.337020 -0.165477
D -1.597247 -1.403746 -0.296746 -0.348773 -0.698292
E -0.205587  0.888589 -0.151465 -0.475266 -0.578184
F -1.447733 -2.193534 -0.720902  0.243057 -0.524920

In [18]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2

       col1      col2      col3      col4      col5
A  0.844078  0.020343 -0.483015  0.433479  0.682302
B -0.700375  0.113212  0.694552 -1.337020 -0.165477
C       NaN       NaN       NaN       NaN       NaN
D -1.597247 -1.403746 -0.296746 -0.348773 -0.698292
E -0.205587  0.888589 -0.151465 -0.475266 -0.578184
F -1.447733 -2.193534 -0.720902  0.243057 -0.524920

In [20]:
new_columns = ['col1','col2','col3','col4','col5','col6']

new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [21]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.844078  0.020343 -0.483015  0.433479  0.682302   NaN
B -0.700375  0.113212  0.694552 -1.337020 -0.165477   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.597247 -1.403746 -0.296746 -0.348773 -0.698292   NaN
E -0.205587  0.888589 -0.151465 -0.475266 -0.578184   NaN
F -1.447733 -2.193534 -0.720902  0.243057 -0.524920   NaN